.bande{
    width: 80%;
    margin:50px 10%;
    border-radius: 15px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  .bande p{
    font-size: x-large;
    font-weight: bold;
  }