body{
    background-color: #f9f9f9;
}
.container{
    background-color:white;
    border-radius: 30px;
    padding: 100px 0;
    height: max-content;
    width: 60%;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bande{
  width: 70%;
  margin:35px 10%;
  border-radius: 15px;
  background-color: white;
  display: grid;
  place-items: center;
}
.bande p{
  font-size: x-large;
  font-weight: bold;
}

table{
    width: 100%;
}
.label{
    width: 40%;
    height: 100px;
    
}
.label p{
    font-size: large;
    font-weight: 600;
    padding-left: 50px;
}

.input{
    width: 60%;
}
.input input{
    width: 90%;
    height: 45px;
    border-width: 0;
    padding-left: 10px;
    font-size: 15px;
    border-bottom: 1px solid #f1c40f;
}
.input input:focus{
    outline: none;
}
  .button-container{
    margin-top: 50px;
    width: 90%;
    display: grid;
    place-items: end;
  }
  .button-container input{
    border: 0;
    border-radius: 8px;
    font-size: 1.15em;
    height: 40px;
    width: 150px;
    background-color: #f1c40f;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  .button-container input:hover{

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .container a{
    text-decoration: none;
    text-align: center;
    margin-left:20px;
  }
  .lienDeRetour{
    text-decoration: none;
    color: #f1c40f;
  }
  .lienDeRetour p{
    margin-left: 20px;
    font-size: large;
  }
  a{
    color: #f1c40f;
  }
  .linkPass{
    margin-top: 15px;
  }
  .message{
    text-align: center;
    font-weight: 700;
    font-size: large;
    color: green;
  }
  @media (max-width:880px){
    .container{
        width: 80%;
    }
  }
  @media (max-width:600px){
    .container{
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }
    .bande{
        margin:20px 5%;
        width: 90%;
    }
    .bande p{
        font-size: medium;
        font-weight: bold;
      }
    .label p{
        font-size: small;
        font-weight: 600;
        padding-left: 10px;
    }
    a{
        margin-left: 10px;
        font-size: small; 
        color: #f1c40f;  
    }
    .button-container{
        margin-top: 50px;
        width: 90%;
        display: grid;
        place-items: center;
      }
      .button-container input{
        font-size: 1.09em;
        height: 30px;
        width: 100px;
        
      }
      .lienDeRetour p{
        margin-left: 5px;
        font-size: small;
      }
      .input input{
        height: 30px;
       
    }
  }
  
    

    
