body{
    background-color: #f9f9f9;
}
.container{
    background-color:white;
    border-radius: 30px;
    padding: 100px 0;
    height: max-content;
    width: 70%;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bande{
    width: 70%;
    margin:35px 15%;
    border-radius: 15px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  .table1{
    width: 100%;
  }
  .bande p{
    font-size: x-large;
    font-weight: bold;
  }
  .label{
    width: 15%;
  }
  .input{
    width: 32%;
  }
  .input input{
    width: 70%;
    height: 45px;
    border-width: 0;
    padding-left: 10px;
    font-size: 15px;
    border-bottom: 1px solid #f1c40f;
    transition: box-shadow 0.3s ease;
  }

  .input input:focus{
    outline: none;
    
}
.label{
    height: 100px;
    
}
.label p{
    font-size: large;
    font-weight: 600;
    padding-left: 50px;
}
.button-container{
    margin-top: 50px;
    width: 90%;
    display: grid;
    place-items: end;
  }
.button-container input{
    border: 0;
    border-radius: 8px;
    font-size: 1.15em;
    height: 40px;
    width: 150px;
    background-color: #f1c40f;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  .button-container input:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .lienDeRetour{
    text-decoration: none;
    color: #f1c40f;
  }
  .lienDeRetour p{
    margin-left: 20px;
    font-size: large;
  }
  .table2{
    width: 100%; 
  }

  .label2{
      width: 40%;
      height: 100px;
      
  }
  .label2 p{
      font-size: large;
      font-weight: 600;
      padding-left: 50px;
  }
  .input2{
      width: 60%;
  }
  .input2 input{
      width: 90%;
      height: 45px;
      border-width: 0;
      padding-left: 10px;
      font-size: 15px;
      border-bottom: 1px solid #f1c40f;
      transition: box-shadow 0.3s ease;
  }
  .input2 input:focus{
      outline: none;
  }
  .message{
    text-align: center;
    font-weight: 700;
    font-size: large;
    color: red;
  }
  
  @media (max-width:1000px){
    .container{
        width: 90%;
    }
}
    @media (max-width:800px){
        .container{
            width: 100%;
        }
        .input input{
            height: 25px;
            padding-left: 2px;
        }

  }
  @media (max-width:600px){
    .container{
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }
    .bande{
        margin:20px 5%;
        width: 90%;
    }
    .bande p{
        font-size: medium;
        font-weight: bold;
      }
    .label p,.label2 p{
        font-size: small;
        font-weight: 600;
        padding-left: 10px;
    }
    a{
        margin-left: 1px;
        font-size: small;   
    }
    .button-container{
        margin-top: 50px;
        width: 90%;
        display: grid;
        place-items: center;
      }
      .button-container input{
        font-size: 1.09em;
        height: 30px;
        width: 100px;
        
      }
      .lienDeRetour p{
        margin-left: 5px;
        font-size: small;
      }
      .input input{
        height: 20px;
        width: 85%;
        padding-left: 2px;
        font-size: x-small;
    }
  }
 


  